#file-select {
  display: block;
}

textarea {
  display: block;
}

form {
  align-content: top;
}

body {
  background: lightblue;
  font-family: arial;
}

#csv-output {
  font-family: 'Courier New', Courier, monospace;
}